* {
    box-sizing: border-box;
}

body {
    color: hsl(0, 0%, 30%);
    background-color: #e0e0e0;
    font-family: 'Roboto Condensed', sans-serif;
    /*remove browser padding and margin*/
    padding: 0;
    margin:0;
}

sup {
    color: #888888;
    font-size: 13px;
}

th, td {
    min-width: 43px;
    width: 5vw;
    text-align: center;
    border-bottom: 1px solid #cecece;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}